// .card-image {
//     width: 50px;
//     font-size: small;
// }

body {
    background-color: rgb(26, 92, 179);
}

.loader-spinner {

    p {
        background-color: rgb(97, 97, 133);
    }
}

.card-container {
    .card {
      img {
        max-width: 250px;
        height: 100px;
        background-color: aquamarine;
      }
    }
  }
  
  