@import "./utils/variables.scss";
@import "./utils/animation.scss";

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // box-shadow: 0 0 0 3px red inset;
}

body {
  // max-width: 1500px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 0.9rem;
  // margin: auto;
  background-color: white;
  overflow-x: hidden;
}

//animation

//loader
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 2rem;
  background: #9356dc;
  animation: loader 4s ease-in-out both;

  .fa-spinner {
    animation: loader-spinner 1s ease-in-out 4 both;
  }
}

.content {
  background-color: white;
  animation: content 2s ease-in-out 2s both;
  width: 100vw;

  // HEADER
  header {
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;

    .logo {
      text-align: center;
      padding: 1rem 0rem 0.5rem 0rem;

      img {
        max-width: 60%;

        justify-content: center;
      }
    }
  }

  /* section 1 */

  .container-localisation {
    width: 100%;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

    .localisation {
      display: flex;

      align-items: center;

      .fas {
        flex: 0;
      }

      h4 {
        flex: 1;

        padding: 1rem;
      }
    }

    @media (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  /* SECTION 2 */
  .explorer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $background-color;
    margin-bottom: 3.1rem;

    .contenu {
      margin: 2.8rem 2rem 3.75rem 2rem;

      h3 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }

      .explorer-btn {
        @include button;

        &:hover {
          background: linear-gradient(
            to bottom right,
            lighten($secondary-color, 3%),
            lighten($primary-color, 3%)
          );
          box-shadow: 0px 6px 6px #0000002e;
        }
      }
    }
  }

  /* SECTION 3 */
  .fonctionnement {
    margin: 0rem 1rem 4rem 1.7rem;

    h3 {
      margin-left: -0.7rem;
      margin-bottom: 2.5rem;
    }

    .options {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
      }

      .cards {
        display: flex;
        align-items: center;
        width: 100%;
        height: 4.4rem;
        background-color: $background-color;
        border-radius: 20px;
        box-shadow: $box-shadow;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
          width: 30%;
        }

        i {
          color: #7e7e7e;
          margin: auto 1rem auto 0.3rem;
          width: 20px;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 1.4rem;
          height: 1.4rem;
          border-radius: 100%;
          background-color: $primary-color;
          position: relative;
          left: -0.7rem;
        }

        p {
          font-weight: bold;

          @media (min-width: 768px) {
            font-size: small;
          }
        }

        &:hover {
          background-color: #f5edff;

          i {
            color: $primary-color;
          }
        }
      }
    }
  }

  /* SECTION 4 */
  .restaurants {
    background-color: $background-color;

    .contenu {
      margin: 0rem 1rem 0rem 1rem;
      padding: 3.75rem 0rem 3.75rem 0rem;

      h3 {
        margin-bottom: 2rem;
        margin-left: 1.5rem;
      }

      .cards {
        @media (min-width: 768px) {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }
      }
    }
  }

  .card-container {
    @media (min-width: 768px) {
      width: 45%;
    }

    display: flex;

    .card {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: 15px;
      box-shadow: $box-shadow;
      overflow: hidden;
      text-decoration: none;

      .image {
        width: 100%;
        // flex: 40% 1 1;
        aspect-ratio: 2/1;
        object-fit: cover;
      }

      .nouveau {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-start;
        width: 5rem;
        height: 1.9rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: #008766;
        background-color: #99e2d0;
        border-radius: 2px;
        margin-top: 1rem;

        margin-left: 60%;
        position: absolute;

        @media (min-width: 768px) {
          margin-left: 30%;
        }

        @media (min-width: 1024px) {
          margin-left: 35%;
        }
      }

      .info {
        display: flex;

        justify-content: space-between;
        width: 100%;

        .title {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          // justify-content: center;
          // margin-left: 1rem;
          color: black;

          h4 {
            margin-bottom: 0.25rem;
            font-size: 1rem;
          }

          p {
            font-size: small;
          }
        }

        @include heart 
      }
    }
  }
}

//MENU pages

/* SECTION 1 */

.section {
  @media (min-width: 320px) {
    background-color: #f6f6f6;
  }

  @media (min-width: 768px) {
    background-color: white;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 59px 13px 17px;
    gap: 42px;
    flex-shrink: 0;
    background: var(--White, #fff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;

    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {
      padding: 20px;
    }
  }

  .logo img {
    margin-right: 0;

    @media (min-width: 768px) {
      transform: translateX(-140%);
    }

    @media (min-width: 1024px) {
      transform: translateX(-190%);
    }

    @media (min-width: 1440px) {
      transform: translateX(-330%);
    }
  }

  .arrow {
    font-size: 1.5rem;
    flex-shrink: 0;
    color: black;

    @media (min-width: 768px) {
      margin-right: 70%;
    }

    @media (min-width: 1440px) {
      margin-right: 85%;
    }
  }

  .image img {
    width: 100%;
    object-fit: cover;

    height: 260px;
    font-size: 1.25rem;
    object-fit: cover;
    margin-bottom: -40px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  .center {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      transform: translate(50%);
      border-radius: 35px 35px 0px 0px;
      padding: 1rem 1rem 0rem 1rem;
    }

    .title-section {
      background-color: $background-color;

      display: flex;
      align-items: center;
      border-radius: 35px 35px 0px 0px;
      white-space: nowrap;
      text-overflow: ellipsis;

      h2 {
        font-size: 25px;
        font-style: normal;
        font-weight: 1200;
        line-height: normal;
        font-family: "Shrikhand";

        @media (min-width: 425px) {
        }

        @media (min-width: 320px) {
          border-radius: 35px 35px 0px 0px;
          padding: 1rem 1rem 0rem 1rem;
        }

        @media (min-width: 768px) {
          border-radius: 35px 35px 0px 0px;
          padding: 1rem 1rem 0rem 1rem;
        }

        @media (min-width: 1024px) {
          justify-content: center;
          align-items: center;
          margin-left: 20%;
        }

        @media (min-width: 1440px) {
          justify-content: center;
          align-items: center;
          margin-left: 30%;
        }
      }

      .heart {
        @include heart;
        margin-top: 40px;
        margin-left: -10px;
      }
    }

    /* SECTION 2 */
    .container-menu {
      width: 100%;

      @media (min-width: 768px) {
        width: 100%;
        display: felx;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .menu {
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }

    .menu {
      width: 100%;

      background-color: #f6f6f6;

      .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 20px;

        span {
          border-bottom: solid #99e2d0 3px;
        }
      }

      .menu-card {
        animation: animation-menu ease-out 3s forwards;

        &:nth-child(1) {
          animation-delay: 1s;
        }

        &:nth-child(2) {
          animation-delay: 2s;
        }

        &:nth-child(3) {
          animation-delay: 3s;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        overflow: hidden;
        margin: 0rem 1rem 1rem 1rem;
        cursor: pointer;

        .card-content_animation-check {
          .fa-check-circle {
            display: none;
            font-size: 1.5rem;
            color: white;
          }
        }

        &:hover {
          .card-content {
            width: 80%;

            + .card-content_animation-check {
              width: 20%;
              transform: scale(1);

              .fa-check-circle {
                // animation: check-rotate 800ms linear both;
              }

              span {
              }
            }
          }
        }

        @media (min-width: 768px) {
          &:hover {
            .card-content {
              width: 80%;

              + .card-content_animation-check {
                width: 20%;
                transform: scale(1);

                .fa-check-circle {
                  animation: check-rotate 800ms linear;
                }
              }
            }
          }
        }

        .card-content {
          width: 100%;
          transition: all 1s;

          .card-content-title {
            padding-left: 1rem;
          }

          .card-content-description {
            display: flex;
            justify-content: space-between;
            padding: 0rem 1rem;

            p {
              font-size: 0.8rem;
              margin-right: 1rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            span {
              font-weight: bold;
            }
          }
        }

        .card-content_animation-check {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 0%;
          background-color: #99e2d0;
          border-radius: 0px 15px 15px 0px;
          transform: scale(1);
          transform-origin: right;
          transition: all ease-in-out 0.5s;

          .fa-check-circle {
            font-size: 1.5rem;
            color: white;
            display: inline;
          }
        }
      }
    }
  }
}

/* SECTION 3 */
.container-order {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;

  .order-button {
    @include button;
  }
}
