
//   // Apparition des menus
  @keyframes animation-menu {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // background + animation loader-spinner
  @keyframes loader {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes loader-spinner {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }




 




